.left {
  min-width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.right h2 {
  margin-top: var(--md-gap);
}

.description {
  margin-top: var(--sm-gap);
  font-size: 0.9rem;
}

.product-prop-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--sm-gap);
}

.left .iso {
  font-size: 1.9rem;
  margin-top: var(--md-gap);
}

.product-prop {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 20px 10px 0;
}

.product-prop-value {
  font-weight: 600;
}
